<h2>Контакты</h2>

<form action="/contacts" method="POST">
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" name="user_email" placeholder="example: user@gmai.com">
  </div>
  
  <div class="form-group">
    <label>Ваше сообщение</label>
    <textarea type="text" class="form-control" name="user_message" placeholder="Your message" ></textarea> 
  </div>

  
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>